/*fORMATAÇÃO DE BLOCOS*/
body{
    margin: 0;  
    padding: 0;
    text-align: center;
    background:bisque
}
header{
    background: url(../imagens/Tela-Principal.jpg);
    width: 100%;
    background-size: cover;
    color: rgb(255, 187, 0);
    border-radius: 0 0 10px 10px;
}
/*formatação do cabeçalho*/
header img{
    width: 25%;
}
img#chapel{
    padding-bottom: 3%;
    margin-top: 1%;
}
header div{
    
    background-color: rgba(0, 0, 0, 0.514);
}


main{
    height: 1000px;
    background-image: url(../imagens/bgcard.jpg);
    margin-top: 1%;   
    border-radius: 10px;  
}
.navbar{
    position: absolute;
    margin-left: 2%;
    border-radius: 10px;
    opacity: 0.8;

}

/*FORMATAÇÃO DE TITULOS*/
h1{
    background:rgba(0, 0, 0, 0.644);
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 5px rgb(40, 92, 236);
    padding: 1% 0;
    border-radius: 10px 10px 0 0;
    font-size: 4em;
}       
h2{
   
    text-shadow: 1px 1px 5px rgb(40, 92, 236);
    font-size: 3em;
    margin-bottom: 0;
}
h3{
    background-color: rgba(71, 7, 7, 0.829);
    color: rgb(255, 255, 255);
    padding: 1%;
    border-radius:0 0 20px 20px;
}
article{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 60, 0, 0.253);
    
}


/*FORMATAÇÃO DO RODAPÉ*/
footer{
    
    text-shadow: 1px 1px 2px rgb(88, 71, 50);
    color: bisque;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 1%;
    border-radius: 10px 10px 0 0;
}
img.social{
    border-radius: 50%;
    margin: 2%;
    box-shadow: 1px 1px 10px 3px rgb(255, 255, 255);
}