/*fORMATAÇÃO DE BLOCOS*/
body{
    margin: 0;  
    padding: 0;
    text-align: center;
    background:url(../abstract-antique-backdrop-background-164005.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    
    width: 100%;
    height: 95vh;
    color: rgb(255, 187, 0);
    border-radius: 0 0 10px 10px;
}
/*formatação do cabeçalho*/

img#logo{
    opacity: 0.75;
}
header div{
    height: 100%;
    background:linear-gradient(to top, rgba(255, 255, 255, 0),#c2410ea4,#c2410ea4, rgba(255, 255, 255, 0)) ; 
}
main{
    height: 100vh;
    background-image: url(../imagens/bgcard.jpg);
    margin-top: 1%;   
    border-radius: 10px; 
}
/*FORMATAÇÃO DE TITULOS*/
h1{
    background:rgba(0, 0, 0, 0.644);
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 5px rgb(40, 92, 236);
    padding: 1% 0;
    border-radius: 10px 10px 0 0;
    font-size: 4em;
}       
h2{
   
    text-shadow: 1px 1px 5px rgb(40, 92, 236);
    font-size: 3em;
    margin-bottom: 0;
}
h3{
    background-color: rgba(71, 7, 7, 0.829);
    color: rgb(255, 255, 255);
    padding: 1%;
    border-radius:0 0 20px 20px;
}
article{
    width: 100%;
    height: 100%;
}


/*FORMATAÇÃO DO RODAPÉ*/
footer{
    
    text-shadow: 1px 1px 2px rgb(88, 71, 50);
    color: bisque;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 1%;
    border-radius: 10px 10px 0 0;
    
}
img.social{
    border-radius: 50%;
    margin: 2%;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
}
@keyframes sombra{
    from{ box-shadow: 1px 1px 5px rgb(255, 255, 255);}
    to{ box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.644);}
}
img.social:hover{
    animation-name: sombra;
    animation-duration: 0.5s;
    box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.644);
}